
Pneumonia Detection (Deep CNN with Keras)/Models
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/.idea/inspectionProfiles/profiles_settings.xml
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/.idea/misc.xml
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/.idea/modules.xml
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/.idea/rSettings.xml
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/.idea/vcs.xml
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/Test.csv
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/Train.csv
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/Weather.csv
Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place)/.idea/Ridehailing Service ETA Prediction Model (Zindi UmojaHack Hackathon 4th Place).iml
